In [ ]:
import pandas as pd

In [ ]:
data=pd.read_json("/content/drive/MyDrive/Home_Security_Json_Data_Preprocessing/Home_Security_Raw_alphapose-results.json")

In [ ]:
data

             image_id  ...    idx
0      climbing_1.jpg  ...  [0.0]
1      climbing_2.jpg  ...  [0.0]
2      climbing_3.jpg  ...  [0.0]
3      climbing_4.jpg  ...  [0.0]
4      climbing_4.jpg  ...  [0.0]
..                ...  ...    ...
802  standing_285.jpg  ...  [0.0]
803  standing_286.jpg  ...  [0.0]
804  standing_286.jpg  ...  [0.0]
805  standing_286.jpg  ...  [0.0]
806  standing_286.jpg  ...  [0.0]

[807 rows x 6 columns]

In [ ]:
data.describe()

       category_id       score
count        807.0  807.000000
mean           1.0    2.605727
std            0.0    0.683739
min            1.0    0.623101
25%            1.0    2.378653
50%            1.0    2.966053
75%            1.0    3.037776
max            1.0    3.176821

In [ ]:
import pandas as pd
import numpy as np

# Reading Raw JSON file 
raw_data=pd.read_json("/content/drive/MyDrive/Home_Security_Json_Data_Preprocessing/Home_Security_Raw_alphapose-results.json")

#taking only keypoint column from raw data
keypoint=raw_data['keypoints'] 

# getting length of raw_data
raw_data_length=raw_data.index
raw_data_length=list(raw_data_length)
raw_data_length=raw_data_length[-1]
raw_data_length=raw_data_length+1


# creating dummy data
df=np.zeros((raw_data_length,34))

# defining coloumn names 
columns=["Nose_X","Nose_Y","LEye_X","LEye_Y","REye_X","REye_Y","LEar_X","LEar_Y","REar_X","REar_Y",
         "LShoulder_X","LShoulder_Y","RShoulder_X","RShoulder_Y","LElbow_X","LElbow_Y","RElbow_X","RElbow_Y",
         "LWrist_X","LWrist_Y","RWrist_X","RWrist_Y","LHip_X","LHip_Y","RHip_X","RHip_Y","LKnee_X","LKnee_Y",
         "Rknee_X","Rknee_Y","LAnkle_X","LAnkle_Y","RAnkle_X","RAnkle_Y"]

# creating dataframe for 17 keypoints
data=pd.DataFrame(df,columns=columns)

# sorting only x,y co-ordinate values of 17 keypoints (not score for each keypoint)& appending in column
for i in range(0,raw_data_length):
    data.loc[[i],["Nose_X"]]=keypoint[i][0]
    data.loc[[i],["Nose_Y"]]=keypoint[i][1]
    data.loc[[i],["LEye_X"]]=keypoint[i][3]
    data.loc[[i],["LEye_Y"]]=keypoint[i][4]
    data.loc[[i],["REye_X"]]=keypoint[i][6]
    data.loc[[i],["REye_Y"]]=keypoint[i][7]
    data.loc[[i],["LEar_X"]]=keypoint[i][9]
    data.loc[[i],["LEar_Y"]]=keypoint[i][10]
    data.loc[[i],["REar_X"]]=keypoint[i][12]
    data.loc[[i],["REar_Y"]]=keypoint[i][13]
    data.loc[[i],["LShoulder_X"]]=keypoint[i][15]
    data.loc[[i],["LShoulder_Y"]]=keypoint[i][16]
    data.loc[[i],["RShoulder_X"]]=keypoint[i][18]
    data.loc[[i],["RShoulder_Y"]]=keypoint[i][19]
    data.loc[[i],["LElbow_X"]]=keypoint[i][21]
    data.loc[[i],["LElbow_Y"]]=keypoint[i][22]
    data.loc[[i],["RElbow_X"]]=keypoint[i][24]
    data.loc[[i],["RElbow_Y"]]=keypoint[i][25]
    data.loc[[i],["LWrist_X"]]=keypoint[i][27]
    data.loc[[i],["LWrist_Y"]]=keypoint[i][28]
    data.loc[[i],["RWrist_X"]]=keypoint[i][30]
    data.loc[[i],["RWrist_Y"]]=keypoint[i][31]
    data.loc[[i],["LHip_X"]]=keypoint[i][33]
    data.loc[[i],["LHip_Y"]]=keypoint[i][34]
    data.loc[[i],["RHip_X"]]=keypoint[i][36]
    data.loc[[i],["RHip_Y"]]=keypoint[i][37]
    data.loc[[i],["LKnee_X"]]=keypoint[i][39]
    data.loc[[i],["LKnee_Y"]]=keypoint[i][40]
    data.loc[[i],["Rknee_X"]]=keypoint[i][42]
    data.loc[[i],["Rknee_Y"]]=keypoint[i][43]
    data.loc[[i],["LAnkle_X"]]=keypoint[i][45]
    data.loc[[i],["LAnkle_Y"]]=keypoint[i][46]
    data.loc[[i],["RAnkle_X"]]=keypoint[i][48]
    data.loc[[i],["RAnkle_Y"]]=keypoint[i][49]  
    
# adding detected score of each Skeleton    
data["Score"]=raw_data["score"]  

# adding associated output action by referencing image name score of each Skeleton    
data["Actions"]=raw_data["image_id"] 
for i in range(0,raw_data_length):
    a = data["Actions"][i]
    a = a.split("_")[0]
    data.loc[[i],["Actions"]] = a
    
# now give numerical categorical value for this activity classes
for i in range(0,raw_data_length):
    if data['Actions'][i] == "climbing":
        data['Actions'][i] = 0
        
    if data['Actions'][i] == "standing":
        data['Actions'][i] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data.tail()

         Nose_X       Nose_Y      LEye_X  ...     RAnkle_Y     Score  Actions
802  810.069153   859.428406  810.069153  ...  1846.673096  3.018572        1
803  770.137939  1368.389771  770.137939  ...  2687.624268  3.075532        1
804  408.644135   825.394775  409.260406  ...   851.895264  1.486715        1
805  386.580414   828.636108  386.580414  ...   871.911255  2.010567        1
806  363.975464   834.884277  361.350037  ...   873.609497  1.238515        1

[5 rows x 36 columns]

In [ ]:
data.columns

Index(['Nose_X', 'Nose_Y', 'LEye_X', 'LEye_Y', 'REye_X', 'REye_Y', 'LEar_X',
       'LEar_Y', 'REar_X', 'REar_Y', 'LShoulder_X', 'LShoulder_Y',
       'RShoulder_X', 'RShoulder_Y', 'LElbow_X', 'LElbow_Y', 'RElbow_X',
       'RElbow_Y', 'LWrist_X', 'LWrist_Y', 'RWrist_X', 'RWrist_Y', 'LHip_X',
       'LHip_Y', 'RHip_X', 'RHip_Y', 'LKnee_X', 'LKnee_Y', 'Rknee_X',
       'Rknee_Y', 'LAnkle_X', 'LAnkle_Y', 'RAnkle_X', 'RAnkle_Y', 'Score',
       'Actions'],
      dtype='object')

In [ ]:
data['Actions'].unique()

array([0, 1], dtype=object)

In [ ]:
# Saving All Features

In [ ]:
data.to_csv("Home_Security_alphapose_result.csv")

In [ ]:
# Saving Only Required Features( No eye,ear,nose)

In [ ]:
data.drop(['Nose_X', 'Nose_Y', 'LEye_X', 'LEye_Y', 'REye_X', 'REye_Y', 'LEar_X','LEar_Y', 'REar_X', 'REar_Y'],axis=1,inplace=True)

In [ ]:
data.head()

   LShoulder_X  LShoulder_Y  RShoulder_X  ...     RAnkle_Y     Score  Actions
0   981.965332   779.927368  1307.323608  ...  1995.739990  3.024694        0
1   939.461426   770.322998  1204.105957  ...  2358.190186  2.932522        0
2   857.436951   802.338318  1206.240356  ...  1815.529053  2.855166        0
3   831.064209   998.531433  1187.107422  ...  2347.748047  2.944008        0
4  1377.662354   876.392334  1356.939453  ...   943.741943  0.792699        0

[5 rows x 26 columns]

In [ ]:
data['Actions'].unique()

array([0, 1], dtype=object)

In [ ]:
data.to_csv("Home_Security_alphapose_result_without_nose_ear_eye_features.csv")